/* Store cards */

.store-card {
    height: 100%;
}

.image-container {
    height: 350px;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.store-card .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.store-card .card-title {
    font-weight: 600;
    margin-bottom: .75rem;
}

.store-card .btn {
    margin-top: auto;
}


/* Sold Items greyed out */
.is-sold {
    opacity: 0.45;
    filter: grayscale(100%);
}

/* Toasts */

.toast-container {
    z-index: 100000;
    margin-top: 100px;
}

.toast-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}